.animateIn {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .animateIn-visible {
    opacity: 1;
    transform: none;
  }