#projects{
    display: grid;
    place-items: center;

    grid-template-columns: 1fr 1fr;
    gap: 10px;

    padding: 0;
    list-style: none;
}

/* card */
#projects li.card{
    position:relative;
    box-sizing: border-box;
    background: rgb(46, 111, 196);
    width: 350px;
    height: 350px;
    padding: 1em;
}

#projects li.card h2{
    position: absolute;
    /* top: 0; */
    bottom: 0.5em;
    /* color: var(--background); */
    
    text-shadow: 0.1em 0.1em 0.1em var(--background);
    font-weight: 900;
}

/* hover color effect */
#projects li.card::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display:block;
    box-sizing: border-box;
    width: 350px;
    height: 350px;
    opacity: 1;

    transform-origin: left;

    scale: 0 1;
    transition: all 0.25s ease-out;
}

#projects li.card:hover::before{
    scale: 1 1;
}

/* alternating colors */
#projects li.card:nth-of-type(3n+1):before{
    /* background-color: var(--cyan); */
    background: linear-gradient(90deg, var(--cyan), rgba(255,255,255,0));
}

#projects li.card:nth-of-type(3n+2):before{
    /* background-color: var(--magenta); */
    background: linear-gradient(90deg, var(--magenta), rgba(255,255,255,0));
}

#projects li.card:nth-of-type(3n+3):before{
    /* background-color: var(--yellow); */
    background: linear-gradient(90deg, var(--yellow), rgba(255,255,255,0));
}

/* project thumb */
#projects li.card[thumb="fairHousing"]{
    
    background-image: url('./assets/projects/homeforallofus/HFAOU_mockup.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--text);
    /* filter: brightness(0.5); */
}

