@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    font-family: 'Poppins', sans-serif;
    background: var(--background);
    color: var(--text);

    --primary: rgb(108, 108, 255);
    --text: rgb(235, 220, 220);
    --background: rgb(10, 8, 8);

    --cyan: #00b8df;
    --magenta: #e36799;
    --yellow: #f8db6c;

    font-size: 16px;

    scroll-behavior:smooth;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s all;
}


body, header, main {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

main{
    scroll-margin: 10vh 0 0 0;
}

section{
    margin: 1em;
}

.button{
    display: inline-block;
    margin: 1em 1em 1em 0;
    padding: 0.1em 0.5em;
    text-decoration: none;
    color: var(--cyan);
    border: var(--cyan) 3px solid;
    border-radius: 1em;

    transition: 0.2s all ease;
}

.button:hover{
    color: var(--background);
    background-color: var(--cyan);
}

/*layout utils */
.grid{
    display: grid;  
    grid-auto-flow: dense;  
}

.space{
    justify-content: space-evenly;
}

.center {
    place-items: center;
}

.left {
    place-items: start ;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    :root{
        font-size: 10px;
    }

    .row{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    :root{
        font-size: 14px;
    }
}
