<div class="grid left">
    <div class="row">
        <div id="headshot" class="animateIn">
            <img id="biopic"
            width="150"
            height="150"
            style="border-radius: 20%;"
            alt="my face"
            src="./assets/HeadShot_Mini.png"
            >
        </div>
        <div id="bio" class="animateIn">
            <h2>hi my name is ethan</h2>
            <h4>i make websites, graphics, and videos</h4>
            <p>i went to <b>ithaca college 🎓</b></p>
            <p>i have a bachelors of science in <b>emerging media</b></p>
            <p>i have minors in <b>web design </b> and <b>animation</b></p>
        </div>    
    </div>
    
    
    <div id="skills" class="animateIn">
        
        <p>🎥 Adobe Create Cloud (Premiere Pro, After Effects, Audtion), Davincio Resolve, Fusion</p>
        <p>🎨 Adobe Creative Cloud (PhotoShop, Illustrator, InDesign, XD, Lightroom), Figma</p>
        <p>🌐 HTML, CSS (SASS, SCSS, LESS), Javascript (react.js)</p>
        <p>💻 Python, Java, Github</p>
        <a href="./assets/2023_esausa_resume.pdf" class="button" download>resume 💾</a>
    </div>
</div>


