<section id="about" class="row left">
    
    <!-- BIO -->
    <div class="col">
        <div class="row about-section cyan" id="bio">
            <div id="headshot" class="animateIn">
                <img id="biopic"
                width="150"
                height="150"
                style="border-radius: 20%;"
                alt="my face"
                src="./assets/HeadShot_Mini.png"
                >
            </div>
            <div class="animateIn ">
                <h2>Hi! My name is Ethan</h2>
                <p>
                    I’m a multimedia professional. I like to work in the intersection between art and code, where my creative and technical skills can come together to produce great content.
                </p>
                <p>    
                    Right now, most of my work focuses on design and development, but my skill set covers a wide range of media and computational tools. Check out the projects that I’ve been working on and feel free to contact me!
                </p>
    
            </div>
        </div>
        <!-- EDUCATION -->
        <div class="about-section yellow animateIn">
            <h2>EDUCATION</h2>
            <h3><strong>Emerging Media, B.S.</strong> Magna Cum Laude</h3>
            <h3><b>Ithaca College</b> // 2016 - 2020</h3>
            <p>
                <i>A joint computer science & communications program focused on new media</i>
                <br/>
                Web Development Minor & Animation Minor
            </p>
        </div>
    </div>
    

    <!-- SKILLS -->
    <div class="about-section magenta">
        <div id="skills" class="animateIn">
            <h2>VIDEO 🎥</h2>
            <p>Premiere Pro, After Effects, Audition, DaVinci Resolve, Fusion, Blender</p>

            <h2>DESIGN 🎨</h2>
            <p>Illustrator, Photoshop, InDesign, Lightroom, XD , Figma</p>

            <h2>MARKETING 🖼</h2>
            <p>Google Analytics, Hubspot CRM, Constant Contact CRM</p>

            <h2>WEB 🌐</h2>
            <P>HTML, CSS (SCSS, SASS), Javascript, react.js, node.js PHP, Wordpress, Sitefinity CMS</p>
            
            <h2>CODE💻</h2>
            <p>Python, Java, Git</p>
           
            <a href="./assets/2023_esausa_resume.pdf" class="button" download>resume 💾</a>
        </div>
    </div>
</section>


