<ul id="projects">
    <li class="card animateIn" data="projects/fairHousing">
        <h2>LIBOR rebranding</h2>                
    </li>
    <li class="card" data="projects/fairHousing"> 
        <h2>fair housing marketing</h2>                   
    </li>
    <li class="card" data="projects/hangoutBeta">
        <h2>hangout beta</h2>                
    </li>
    <li class="card" data="projects/cic" onclick="loadFile(this)">   
        <h2>color is crazy</h2>             
    </li>
    <li class="card" data="projects/spacey">
        <h2>spacey</h2>                    
    </li>
    <li class="card" data="projects/freelance">  
        <h2>freelance web design</h2>
    </li>
</ul>