<ul id="project-list">
    <li class="card animateIn" data="projects/LIBOR">
        <a href="/libor" onclick="route()"></a>   
        <h2>LIBOR rebranding</h2>                
    </li>
    <li class="card animateIn" data="projects/fairHousing"> 
        <a href="/hfaou" onclick="route()"></a>   
        <h2>fair housing marketing</h2>                   
    </li>
    <li class="card animateIn" data="projects/hangoutBeta">
        <a href="/hangout" onclick="route()"></a>   
        <h2>hangout beta</h2>                
    </li>
    <li class="card animateIn" data="projects/cic">
        <a href="/cic" onclick="route()"></a>   
        <h2>color is crazy</h2>             
    </li>
    <!-- <li class="card animateIn" data="projects/spacey">
        <a href="/spacey" onclick="route()"></a>   
        <h2>spacey</h2>                    
    </li>
    <li class="card animateIn" data="projects/freelance">  
        <a href="/freelance" onclick="route()"></a>   
        <h2>freelance web design</h2>
    </li> -->
</ul>