/* container */
#project-list{
    display: grid;
    place-items: center;

    grid-template-columns: 1fr 1fr;
    gap: 10px;

    padding: 0;
    list-style: none;
}

@media only screen and (max-width: 768px) {
    #project-list{
        grid-template-columns: 1fr;
    }

    #project-list li.card{
        --card-size: 75vw;
    }
}

@media only screen and (min-width: 768px) {
    #project-list li.card{
        --card-size: 30vw;
    }
}

@media only screen and (min-width: 1200px){
    #project-list li.card{
        --card-size: 20vw;
    }
}

/* card */
#project-list li.card{

    position:relative;
    
    background: rgb(46, 111, 196);
    width: var(--card-size);
    height: var(--card-size);

    box-sizing: content-box;

    background-origin: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  
    background-color: var(--text);

    transition: 0.25s all ease;
}

#project-list li.card a{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: var(--card-size);
    height: var(--card-size);
}

/* card label */
#project-list li.card h2{
    position: absolute;
    left: 0.5em;
    bottom: 0.5em;
    
    text-shadow: 0.1em 0.1em 0.1em var(--background);
    font-weight: 900;

    transition: all 0.5s ease;

    opacity: 0;
}

#project-list li.card:hover h2{ opacity: 1;}

/* hover color effect */
/* color invisiable (default) */
#project-list li.card::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display:block;
    box-sizing: border-box;
    width: var(--card-size);
    height: var(--card-size);
    opacity: 0.75;

    transform-origin: left;

    scale: 0 1;
    transition: all 0.25s ease-out;
}

/* color visable (hover)*/
#project-list li.card:hover::before{ scale: 1 1;}

/* alternating card colors */
#project-list li.card:nth-of-type(3n+1):before{ background-color: var(--cyan); }
#project-list li.card:nth-of-type(3n+2):before{ background-color: var(--magenta); }
#project-list li.card:nth-of-type(3n+3):before{ background-color: var(--yellow); }

/* alternating shadow on hover */
#project-list li.card:hover:nth-of-type(3n+1){ box-shadow: 0 0 1vh var(--cyan);}
#project-list li.card:hover:nth-of-type(3n+2){ box-shadow: 0 0 1vh var(--magenta);}
#project-list li.card:hover:nth-of-type(3n+3){ box-shadow: 0 0 1vh var(--yellow);}

/* every other background color */
/* unused */
/* #project-list li.card:nth-of-type(3n+1){ background-color: var(--cyan); }

#project-list li.card:nth-of-type(3n+2){ background-color: var(--magenta); }

#project-list li.card:nth-of-type(3n+3){ background-color: var(--yellow); } */


/* project thumb */
/* 1 */
#project-list li.card[data="libor"]{
    background-image: url('../assets/projects/libor/libor_logo.png');
}
/* 2 */
#project-list li.card[data="fairHousing"]{ 
    background-image: url('../assets/projects/homeforallofus/HFAOU_mockup.png');
}
/* 3 */
#project-list li.card[data="hangoutBeta"]{
    background-image: url('../assets/projects/hangoutbeta/hangout_mockup.png');
}
/* 4 */
#project-list li.card[data="cic"]{
    background-image: url('../assets/projects/cic/cic_video.png');
}



