<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <!-- {% block head %}{% endblock %} -->
</head>
<body>
    <header>
        <a class="title-logo-group" href="/">
            <h1>ethan thomas sausa</h1>
            <img src="/assets/images/logo.png" alt="logo image" class="logo">
        </a>
            
        </div>
        <nav role="navigaton">
            <ul>
                {%- for item in collections.nav %}
                    <li>
                        <a href="{{ item.url }}" {% if page.url === item.url %}aria-current="page"{% endif %} class="nav-item">
                            {{ item.data.title }}
                        </a>
                    </li>
                {%- endfor %}
                <!-- <li><a href="/">about</a></li>
                <li><a href="/projects">projects</a></li>
                <li><a href="/contact">contact</a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
            {{ content | safe }}
        {% endblock %}
        
    </main>
    <footer>
        <small>with love by ethan</small> 
    </footer>
</body>
</html>