{% extends "layouts/base.html" %}

{% block content %}
<section id="project">
    <section id="info">
        <h2>{{ title }}</h2>
        <br>
        <p>{{ description }}</p>
        <p> 
            {% set filtered_tags = tags | reject("equalto", "projects") %} <!-- exludes projects tag -->
            {% for tag in filtered_tags %}
                <span class="tag">
                    {% if loop.last %} 
                        {{ tag }}
                    {% else %}
                        {{ tag }}
                    {% endif %}
                </span>
            {% endfor %}
        </p>
        <a href="/projects">back to projects >></a>
    </section>
    
    <section id="content">
        {{ content | safe }}
    </section>
</section>
    
    
{% endblock %}