p{
    max-width: 75ch;
}

h1{
    font-size: 2rem;
    text-shadow: 2px 2px 0px var(--background);
}

/* underline */
/* h1::after{
    content:'';
    background-color: var(--magenta);
    
    width: 100%;
    height: 0.2em;

    display: inline-block;
    position: relative;

    bottom: 1.4em;
    left: 0.2em;
    z-index: -1;
} */

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.3rem;
}

h4{
    font-size: 1rem;
}