#resume{
    /* width: 100%; */
}
/* }
.jobTitle{
    margin-top: 2rem;
    padding: 0;
}

.jobCompany{
    margin: 0;
    padding: 0;
}

.jobDate{
    margin: 0 0 0 2rem;
    padding: 0;
}

.jobDescriptions{
    margin: 1rem 1rem;
    padding: 0;
} */
