<section class="grid center">
    <h2>color is crazy</h2>
    <p class="project-descrip">
    Color is Crazy is an explainer video that I made all about color. I scripted
    and recorded th voice over, as well as animated and edited the visuals.
    </p>

    
    <iframe
    src="https://www.youtube.com/embed/jDF3RqFewF8"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    ></iframe>
</section>
