<div class="grid center">
    <h2>color is crazy</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus massa eget dignissim finibus. Nullam sagittis volutpat nunc, quis scelerisque diam pharetra ut. Aliquam sodales metus justo, ultrices consequat purus molestie tincidunt. In metus metus, ullamcorper in ante vitae, efficitur rutrum libero. Proin luctus odio sed rhoncus dapibus. Sed ut neque suscipit, feugiat tellus at, ultrices est. Donec cursus eleifend felis, quis placerat orci dictum vitae. 
    </p>
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/jDF3RqFewF8" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
    </iframe>
</div>
