<section>
    <h2>HANGOUT BETA</h2>
    <a href="./assets/projects/hangoutbeta/hangout_logo.png" target="_blank" rel="noreferrer noopener">
        <img src="./assets/projects/hangoutbeta/hangout_logo.png" alt="hangout logo" style="float: right; margin: 0.25em 1em; height: 8em;">
    </a>
    <p>
        During the summer of 2020, I was visiting a friend at the Rochester Institute of Technology. While my friend was grabbing us some burritos from the food court, I was taking a look at the various posters of the student organizations and noticed an ad from a group of developers who needed a UX/UI designer. Since the pandemic was ravenging my post-grad employment opportunities, I decided to give it a shot and sent the group an email.
    </p>
    
    <p>
        This is how I joined the group at <a href="https://www.instagram.com/amici.ai/" target="_blank" rel="noreferrer noopener">Amici.ai</a>, which was called Hangout Beta when I joined. A group of RIT students set out to create a social media app that was all about getting people to make real life plans - an app to help people hangout.
    </p>
    <p>
        The team was utilizing RIT’s accelerator program which helped alumni based start-ups secure funding for their projects. This was an invaluable asset that helped kickstart the idea from a side project to a proper start up. Our project manager, Aibek, was able to use the resources from the accelerator program to push our MVP to secure long term funding.
    </p>
    <p>
        As UI/UX designer, I worked in figma to design some of the more intricate interactions that the app needed. For the first MVP, the app only contained a feed wherein users could post plans to. For the next MVP, the team wanted to develop a more robust tool kit to make hanging out easier. Another RIT alumni had initially worked as the designer on the project before me, so I had a set of components and a design language to work on. This was great as it enabled me to focus on designing interactions.
    </p>
    <a href="./assets/projects/hangoutbeta/lofi_sketches.jpg" target="_blank" rel="noreferrer noopener">
        <img src="./assets/projects/hangoutbeta/lofi_sketches.jpg" alt="lofi sketches" style="float: left; margin: 0 1em 0.25em 0; height: 16em;">
    </a>
    <p>
        Two of the tools that I worked on were more robust chat features and a scheduler. I also refreshed the basic feed to a new design that incorporated these new features. In our weekly team meetings, we would discuss the features that our user research revealed. I would design lofi designs in photoshop, review with the team, and then move on to hifi designs in figma. Once the hifi’s were approved they moved on to dev.
    </p>
    <p>
        Working at Hangout was a great experience. Getting to collaborate with students from RIT was really enriching for my personal development as a media professional, as I got to learn how different types of students work outside of my own college community. In addition, I learned how a start-up environment works and how a team can motivate themselves to create their own professional setting.
    </p>

    <a href="https://www.figma.com/proto/OziEfpY4m420FUZ9ZyjhCl/MVP?node-id=1918-6285&viewport=241%2C366%2C0.1138996109366417&scaling=scale-down" target="_blank" rel="noreferrer noopener">
        <img src="./assets/figma.svg" alt="Figma logo" style="height: 0.75rem;"> Feed and Chat Figma
    </a>
    <br>
    <a href="https://www.figma.com/proto/OziEfpY4m420FUZ9ZyjhCl/MVP?node-id=2768-5382&scaling=min-zoom&page-id=2665%3A4289&starting-point-node-id=2768%3A5382" target="_blank" rel="noreferrer noopener">
        <img src="./assets/figma.svg" alt="Figma logo" style="height: 0.75rem;"> Scheduler Figma
    </a>


    
</section>
