<section class="left">
    <h2>HOME FOR ALL OF US</h2>

    <p>In 1968, the Federal Fair Housing Act enacted new legislation to ensure greater equality in housing opportunities. Despite being almost half a century since the act was signed into law, some dangerous practices still linger in the real estate industry. Long Island in particular, has had a particularly difficult history in regards to equal opportunities in home ownership. <a href="https://www.hud.gov/program_offices/fair_housing_equal_opp/aboutfheo/history" target="_blank" rel="noreferrer noopener">You can learn more about the history of fair housing here</a>.</p>

    <p>Home for All of Us is a public awareness campaign that I helped develop. We set out with the goal of raising awareness about challenges and obligations related to fair housing.</p>

    <p>In the first leg of our campaign we focused on developing our brand and tackled the issue of source of income discrimination. In New York State, it is illegal to not sell or rent a property because of the source of the buyer or tenant's income.</p>

    <p>A crucial part of this campaign was creating a communication channel to convey fair housing information. Source of income is an often misunderstood part of fair housing, so it was important to make obligations and responsibilities clear.</p>

    <p>Our primary communication channel was a website. I created a WordPress site which utilized the popular Neve theme. I chose this theme since it was highly customizable, and allowed our team to quickly and dynamically spin up a home for our materials to live. <a href="http://www.homeforallofus.org" target="_blank" rel="noreferrer noopener">You can visit the Home for All of Us site here</a>.</p>

    <p>Before I could complete the site, I needed to create an identity that this campaign could identify with. Fair housing extends beyond source of income, so we knew for this campaign to be successful we needed to create a brand that could be known as a source of fair housing information. I created the Home For All Of Us logo, which represents a variety of housing situations, all under one roof.</p>
    
    <section class="grid center">
        <img src="./assets/projects/homeforallofus/HFAOU_Logo_Square.png" alt="Home For All Of Us Logo">
    </section>

    <p>Another aspect of the campaign that I developed was collateral. I designed a variety of co-brandable one-pagers that brokers could print for their office. These one-pagers summarized fair housing obligations under New York State Law. Another piece of collateral that I developed was the Fair Housing Commitment Poster. This poster asserts a pledge to uphold the principles of fair housing in the 10 recognized languages in New York State. These posters and fliers now hang in brokerages across Long Island. <a href="https://www.homeforallofus.org/resources/" target="_blank" rel="noreferrer noopener">You can view and download our collateral documents here</a>.</p>

    <section class="row space">
        <a href="./assets/projects/homeforallofus/Seller-Obligations.png" target="_blank" rel="noreferrer noopener" >
            <img src="./assets/projects/homeforallofus/Seller-Obligations.png" alt="seller obligations poster" height="200px">
        </a>
            
        <a href="./assets/projects/homeforallofus/HFAOUPoster.png" target="_blank" rel="noreferrer noopener">
            <img src="./assets/projects/homeforallofus/HFAOUPoster.png" alt="Home For All Of Us poster" height="200px">
        </a>
        <a href="./assets/projects/homeforallofus/Landlord-Obligations.png" target="_blank" rel="noreferrer noopener">
            <img src="./assets/projects/homeforallofus/Landlord-Obligations.png" alt="land lord obligations" height="200px">
        </a>
    </section>

    <p>We’ve currently wrapped the first phase of the Home for All of Us campaign, but will soon be tackling phase two later this year, which will focus on disability discrimination.</p>
   
</section>

