#project{
    display: grid;
    grid-template-columns: 2fr 1fr;  
    grid-template-areas: "content info";
    gap: var(--gap);
}

.project-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: var(--gap);
}

@media (max-width: 1024px){
    #project{
        grid-template-columns: 1fr;  
        grid-template-areas: "info" "content" ;
    }

    .project-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .project-list{
        grid-template-columns: 1fr;
    }

}

#info{
    grid-area: info;
}

#content{
    grid-area: content;
}

.project-image{
    /* width: 100%;
    height: 100%; */
    aspect-ratio: 1/1;

    background-position: center;
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.5s ease;

    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}
.project-image:hover{
    background-size: 105%;
}

.project-tags{
}

.tag{
    color:var(--light);
    background-color: var(--dark);

    line-height: 3em;

    white-space: nowrap;

    border-radius: 0.25em;

    padding: 0.5em;
    margin: 0 0.5em 0 0;
}

.tag-small{
    color:var(--light);
    background-color: var(--dark);

    line-height: 2em;

    white-space: nowrap;

    border-radius: 0.25em;

    padding: 0.2em 0.5em;
    margin: 0 0.2em 0 0;
}
