@import url('./reset.css');
@import url('./header.css');
@import url('./about.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    font-size: 16px;
    letter-spacing: -0.01ch;
    --max-width: 65vw;
    --gap: clamp(24px, 1.7032rem + 1.9355vw, 48px);
    --spacing: clamp(2rem, 2rem + 2.5vw, 8rem);
    --min: 300px;
    --container-width: 1200px;

    --dark: rgb(12, 12, 12);
    --light: rgb(241, 238, 238);

    --cyan: #00b8df;
    --magenta: #e36799;
    --yellow: #f8db6c;
}

html{
    scrollbar-gutter: stable;
}

/* layout */
body{
    /* background-color: var(--dark); */
    /* color: var(--light); */
    font-family: "Poppins", sans-serif;
    max-width: var(--container-width, 1200px);
    margin: 0 auto;
    padding-left: var(--gap);
    padding-right: var(--gap);

    display: flex;
    align-items: center;
    flex-direction: column;

    
}

/* see header.css for header styles */

main{
    padding-top: var(--spacing);
    flex-grow: 1;
    width: 100%;
}

footer{
    width: 100%;
}

section{
    padding-bottom: var(--spacing);
}

/* elements */

p{
    max-width: 60ch;
    margin-block-end: 1rem;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 0;
}

.narrow{
    max-width: 900px;
}

